<app-navbar></app-navbar>

    <app-banner></app-banner>
    <app-plans></app-plans> 
    <app-featurebar></app-featurebar>
<!-- <app-advertise></app-advertise> -->
<!-- <app-benefits></app-benefits> -->
<app-companyslider></app-companyslider>

<!-- <app-testimonials></app-testimonials> -->
<app-footer></app-footer>


<!-- <app-modal></app-modal> -->


<!-- <app-dashboard></app-dashboard>
<app-dashboard-navbar></app-dashboard-navbar> -->


<!-- <app-linkedin-signp></app-linkedin-signp> -->
<!-- <router-outlet></router-outlet>-->