
<nav class="navbar-primary">
<ul class="navbar-primary-menu">
  <li>
    <a [routerLink]="['/dashboard-profile']"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Profile</span></a>
    <a [routerLink]="['/dashboard-testinterview']"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Take Demo Interview</span></a>
    <a [routerLink]="['/dashboard-notification']"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Notification</span></a>
    
  </li>
</ul>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>