<section class="gray-background first-screen">
  <div class="container">
    <div class="row flex topalign">
      <div class="col-md-6 col-sm-7 col-xs-12">
        <span class="banner_text">WHY?</span>
         <p class="banner_text">Xpanxion Chatbots</p>
         <span class="banner_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
           when an unknown printer took a galley of type and scrambled it to make a 
           type specimen book.</span>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12 first-screen">
        <img src="assets/giffy.gif" alt="logo" class="img-responsive" >
      </div>
    </div>
  </div>
</section>
