.gray-background.clients {
    padding: 15px;
    font-size: 20px;
    color: #000000;
    background: #FFC74C;
}

hr {
    margin-top: -12px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFC74C;
}

li.clients {
    opacity: 0.6;
}

li.clients:hover {
    opacity: 1;
}

@media (max-width: 480px){
    .gray-background.clients{
            font-size: 5vw;
        }
        li.clients {
            margin-left: -3%;
        }
    }

@media (max-width: 992px){
        .gray-background.clients {
         padding: 8px;
         font-size: 14px;
     }
}