<div class="container">
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Name </label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="email" placeholder="{{newName}}" name="name">
      </div>
      <label class="control-label col-sm-4" for="email">Email</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="Name" placeholder="{{newEmail}}" name="email">
      </div>
      <label class="control-label col-sm-4" for="email">Contact No.</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="Contact" placeholder="Enter email" name="email">
      </div>
    </div>
    
  </form>
</div>
